/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --bg-color: #0f172a;
    --card-color: #1e293b;
    --text-color: #e2e8f0;
    --accent: #38bdf8;
}

/* Body */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: var(--text-color);

    min-height: 100vh;

    /* display: flex; */
    justify-content: center;
    align-items: center;

    padding: 20px;
    text-align: center;
}

/* Contenedor */
.container {
    background: var(--card-color);
    padding: 40px;
    border-radius: 14px;
    max-width: 700px;
    width: 100%;

    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

/* Título */
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--accent);
}

/* Párrafo */
p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 25px;
}

/* Imagen */
img {
    width: 100%;
    max-width: 350px;

    border-radius: 12px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}

/* Input color */
input[type="color"] {
    margin-top: 15px;
    width: 60px;
    height: 40px;
    border: none;
    cursor: pointer;
}

/* ------------------ */
/* TABLET */
/* ------------------ */

@media (max-width: 768px) {

    .container {
        padding: 30px;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

}

/* ------------------ */
/* MOBILE */
/* ------------------ */

@media (max-width: 480px) {

    body {
        padding: 15px;
    }

    .container {
        padding: 20px;
    }

    h1 {
        font-size: 1.6rem;
    }

    p {
        font-size: 0.95rem;
    }

    img {
        max-width: 100%;
    }

}